@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(./fonts/NotoSansCJKjp-Thin.otf);
}
@font-face {
  font-family: 'Noto Sans CJK JP Bold';
  src: url(./fonts/NotoSansCJKjp-Bold.otf);
}
* {
  font-family: "Noto Sans CJK JP", sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

img {
  max-width: none;
}

.black-text {
  color: #252525;
}

.darkgrey-text {
  color: #929292;
}

.lightgrey-text {
  color: #f2f2f2;
}

.highlight-text {
  color: #ff4559;
}

.oppositelight-text {
  color: #00b3de;
}

.white-text {
  color: white;
}

.black {
  background-color: #252525;
}

.darkgrey {
  background-color: #929292;
}

.lightgrey {
  background-color: #f2f2f2;
}

.highlight {
  background-color: #ff4559;
}

.oppositelight {
  background-color: #00b3de;
}

.white {
  background-color: white;
}

.clear {
  background-color: transparent;
}

.black-border {
  border: 1px solid #252525;
}

.darkgrey-border {
  border: 1px solid #929292;
}

.lightgrey-border {
  border: 1px solid #f2f2f2;
}

.highlight-border {
  border: 1px solid #ff4559;
}

.oppositelight-border {
  border: 1px solid #00b3de;
}

.white-border {
  border: 1px solid white;
}

h1 {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  font-size: 37px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 8px;
}

h2 {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  font-size: 34px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 8px;
}

h3 {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  font-size: 31px;
  font-weight: normal;
  margin-top: 14px;
  margin-bottom: 8px;
}

h4 {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-top: 12px;
  margin-bottom: 8px;
}

h5 {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 8px;
}

h6 {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin-top: 8px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.hy-top-menu {
  position: relative;
  background-color: #252525;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  min-width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
}
.hy-top-menu > .logo {
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 8px;
  height: 56px;
  min-width: 192px;
}
.hy-top-menu > .logo > img {
  position: relative;
  display: inline-block;
  height: 56px;
}
.hy-top-menu > .logo > span {
  position: absolute;
  line-height: 56px;
  font-size: 24px;
  color: white;
}
.hy-top-menu > .center-menu {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  height: 56px;
  padding: 8px;
  text-align: center;
}
.hy-top-menu > .center-menu > a {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-table;
  position: relative;
  height: 56px;
  line-height: 56px;
  width: 88px;
  color: white;
  text-decoration: none;
}
.hy-top-menu > .center-menu > a:hover {
  border-bottom: 8px solid #ff4559;
}
.hy-top-menu > .center-menu > a:after {
  position: absolute;
  content: attr(data-sub);
  left: 0;
  top: 16px;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: #929292;
}
.hy-top-menu > .right-menu {
  position: absolute;
  margin: auto;
  right: 0;
  padding: 8px;
  height: 56px;
  min-width: 192px;
}
.hy-top-menu > .right-menu > a {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-table;
  height: 56px;
  position: relative;
  text-decoration: none;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}
.hy-top-menu > .right-menu > a:hover {
  border-bottom: 8px solid #ff4559;
}
.hy-top-menu > .right-menu > a > img {
  position: relative;
  display: inline-block;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.hy-top-menu > .right-menu > a > img + span {
  margin-left: 8px;
}
.hy-top-menu > .right-menu > a > span {
  position: relative;
  line-height: 56px;
  color: white;
  min-width: 72px;
}
.hy-top-menu > .right-menu > a > span:after {
  content: attr(data-sub);
  color: #929292;
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
  font-size: 12px;
}
.hy-top-menu > .right-menu > ul {
  display: inline-block;
  position: absolute;
  background-color: #252525;
  list-style-type: none;
  top: 72px;
  right: 0px;
  width: 256px;
  padding: 0px;
  z-index: 1;
}
.hy-top-menu > .right-menu > ul > li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.hy-top-menu > .right-menu > ul > li:hover {
  background-color: #929292;
}
.hy-top-menu > .right-menu > ul > li > a {
  text-decoration: none;
  color: white;
}

.hy-main {
  display: block;
  position: relative;
  min-width: 1024px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.hy-main > * {
  position: relative;
  display: block;
  min-width: 1024px;
  width: 1024px;
  margin: auto;
  left: 0;
  right: 0;
}

.hy-footer {
  position: relative;
  background-color: #252525;
  padding-top: 40px;
  padding-bottom: 40px;
  min-width: 1024px;
}
.hy-footer > div {
  position: relative;
  display: block;
  min-width: 1024px;
  width: 1024px;
  margin: auto;
  left: 0;
  right: 0;
  color: white;
}
.hy-footer > div > ul {
  display: inline-table;
  position: relative;
  width: 192px;
  list-style-type: none;
  padding-left: 0;
}
.hy-footer > div > ul a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-right: 8px;
}
.hy-footer > div > ul a:hover {
  background-color: #929292;
}
.hy-footer > div > div.link {
  position: absolute;
  right: 0;
  bottom: 0;
}
.hy-footer > div > div.link a {
  display: inline-table;
  color: white;
  text-decoration: none;
  margin-right: 8px;
  margin-left: 8px;
}
.hy-footer > div > div.link a > i {
  font-size: 32px;
}

.hy-form-text, .hy-form-text-label, .hy-form-text-button, .hy-form-textarea-button {
  position: relative;
  display: inline-block;
}
.hy-form-text > input[type="text"], .hy-form-text-label > input[type="text"], .hy-form-text-button > input[type="text"], .hy-form-textarea-button > input[type="text"], .hy-form-text > input[type="email"], .hy-form-text-label > input[type="email"], .hy-form-text-button > input[type="email"], .hy-form-textarea-button > input[type="email"], .hy-form-text > input[type="password"], .hy-form-text-label > input[type="password"], .hy-form-text-button > input[type="password"], .hy-form-textarea-button > input[type="password"], .hy-form-text > input[type="number"], .hy-form-text-label > input[type="number"], .hy-form-text-button > input[type="number"], .hy-form-textarea-button > input[type="number"], .hy-form-text > input[type="date"], .hy-form-text-label > input[type="date"], .hy-form-text-button > input[type="date"], .hy-form-textarea-button > input[type="date"], .hy-form-text > select, .hy-form-text-label > select, .hy-form-text-button > select, .hy-form-textarea-button > select, .hy-form-text > span.select2 > span > span, .hy-form-text-label > span.select2 > span > span, .hy-form-text-button > span.select2 > span > span, .hy-form-textarea-button > span.select2 > span > span, .hy-form-text > textarea, .hy-form-text-label > textarea, .hy-form-text-button > textarea, .hy-form-textarea-button > textarea {
  min-width: 400px;
  min-height: 40px;
  border: 1px #929292;
  font-size: 16px;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
  outline: none;
}
.hy-form-text > input[type="text"]:focus, .hy-form-text-label > input[type="text"]:focus, .hy-form-text-button > input[type="text"]:focus, .hy-form-textarea-button > input[type="text"]:focus, .hy-form-text > input[type="email"]:focus, .hy-form-text-label > input[type="email"]:focus, .hy-form-text-button > input[type="email"]:focus, .hy-form-textarea-button > input[type="email"]:focus, .hy-form-text > input[type="password"]:focus, .hy-form-text-label > input[type="password"]:focus, .hy-form-text-button > input[type="password"]:focus, .hy-form-textarea-button > input[type="password"]:focus, .hy-form-text > input[type="number"]:focus, .hy-form-text-label > input[type="number"]:focus, .hy-form-text-button > input[type="number"]:focus, .hy-form-textarea-button > input[type="number"]:focus, .hy-form-text > input[type="date"]:focus, .hy-form-text-label > input[type="date"]:focus, .hy-form-text-button > input[type="date"]:focus, .hy-form-textarea-button > input[type="date"]:focus, .hy-form-text > select:focus, .hy-form-text-label > select:focus, .hy-form-text-button > select:focus, .hy-form-textarea-button > select:focus, .hy-form-text > span.select2 > span > span:focus, .hy-form-text-label > span.select2 > span > span:focus, .hy-form-text-button > span.select2 > span > span:focus, .hy-form-textarea-button > span.select2 > span > span:focus, .hy-form-text > textarea:focus, .hy-form-text-label > textarea:focus, .hy-form-text-button > textarea:focus, .hy-form-textarea-button > textarea:focus {
  border: solid 1px #00b3de;
}
.hy-form-text > input[type="date"], .hy-form-text-label > input[type="date"], .hy-form-text-button > input[type="date"], .hy-form-textarea-button > input[type="date"] {
  min-width: 88px;
}

.hy-form-text-label {
  margin-top: 24px;
  margin-bottom: 8px;
}
.hy-form-text-label > label {
  display: block;
  position: absolute;
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  top: -24px;
  font-size: 12px;
}

textarea.hy-validate.success, textarea.hy-validate.fail,
input.hy-validate.success,
input.hy-validate.fail {
  margin-bottom: 16px;
}
textarea.hy-validate.fail,
input.hy-validate.fail {
  border: 1px solid #ff4559;
}
textarea.hy-validate.success,
input.hy-validate.success {
  border: 1px solid #00b3de;
}
textarea.hy-validate + .hy-validate-message,
input.hy-validate + .hy-validate-message {
  content: attr(data-validation-message);
  display: none;
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  left: 8px;
}
textarea.hy-validate.success + .hy-validate-message,
input.hy-validate.success + .hy-validate-message {
  color: #00b3de;
  display: inline-block;
}
textarea.hy-validate.fail + .hy-validate-message,
input.hy-validate.fail + .hy-validate-message {
  color: #ff4559;
  display: inline-block;
}

button.hy-form-button, .hy-form-text-button > button, .hy-form-textarea-button > button,
a.hy-form-button {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #929292;
  border: 1px solid #929292;
  border-radius: 2px;
  color: white;
  display: inline-block;
  position: relative;
  min-width: 192px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  outline: none;
  line-height: 40px;
  font-size: 16px;
}
button.hy-form-button:hover, .hy-form-text-button > button:hover, .hy-form-textarea-button > button:hover, button.hy-form-button.inactive, .hy-form-text-button > button.inactive, .hy-form-textarea-button > button.inactive,
a.hy-form-button:hover,
a.hy-form-button.inactive {
  background-color: white;
  border-color: #929292;
  color: #929292;
}
button.hy-form-button.inactive:hover, .hy-form-text-button > button.inactive:hover, .hy-form-textarea-button > button.inactive:hover,
a.hy-form-button.inactive:hover {
  background-color: #929292;
  border: 1px solid #929292;
  color: white;
}
button.hy-form-button.main, .hy-form-text-button > button.main, .hy-form-textarea-button > button.main,
a.hy-form-button.main {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #ff4559;
  border: 1px solid #ff4559;
  border-radius: 2px;
  color: white;
}
button.hy-form-button.main:hover, .hy-form-text-button > button.main:hover, .hy-form-textarea-button > button.main:hover, button.hy-form-button.main.inactive, .hy-form-text-button > button.main.inactive, .hy-form-textarea-button > button.main.inactive,
a.hy-form-button.main:hover,
a.hy-form-button.main.inactive {
  background-color: white;
  border-color: #ff4559;
  color: #ff4559;
}
button.hy-form-button.main.inactive:hover, .hy-form-text-button > button.main.inactive:hover, .hy-form-textarea-button > button.main.inactive:hover,
a.hy-form-button.main.inactive:hover {
  background-color: #ff4559;
  border: 1px solid #ff4559;
  color: white;
}
button.hy-form-button.sub, .hy-form-text-button > button.sub, .hy-form-textarea-button > button.sub,
a.hy-form-button.sub {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #00b3de;
  border: 1px solid #00b3de;
  border-radius: 2px;
  color: white;
}
button.hy-form-button.sub:hover, .hy-form-text-button > button.sub:hover, .hy-form-textarea-button > button.sub:hover, button.hy-form-button.sub.inactive, .hy-form-text-button > button.sub.inactive, .hy-form-textarea-button > button.sub.inactive,
a.hy-form-button.sub:hover,
a.hy-form-button.sub.inactive {
  background-color: white;
  border-color: #00b3de;
  color: #00b3de;
}
button.hy-form-button.sub.inactive:hover, .hy-form-text-button > button.sub.inactive:hover, .hy-form-textarea-button > button.sub.inactive:hover,
a.hy-form-button.sub.inactive:hover {
  background-color: #00b3de;
  border: 1px solid #00b3de;
  color: white;
}
button.hy-form-button::before, .hy-form-text-button > button::before, .hy-form-textarea-button > button::before, button.hy-form-button::after, .hy-form-text-button > button::after, .hy-form-textarea-button > button::after,
a.hy-form-button::before,
a.hy-form-button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
button.hy-form-button, .hy-form-text-button > button, .hy-form-textarea-button > button, button.hy-form-button::before, .hy-form-text-button > button::before, .hy-form-textarea-button > button::before, button.hy-form-button::after, .hy-form-text-button > button::after, .hy-form-textarea-button > button::after,
a.hy-form-button,
a.hy-form-button::before,
a.hy-form-button::after {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button.hy-form-button > span, .hy-form-text-button > button > span, .hy-form-textarea-button > button > span,
a.hy-form-button > span {
  display: block;
  position: relative;
  bottom: 0px;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 12px;
  margin-top: -8px;
}

button.hy-form-button, .hy-form-text-button > button, .hy-form-textarea-button > button {
  padding: 0;
}

.hy-form-text-button > input[type="text"] {
  margin-right: -4px;
  border-radius: 2px 0px 0px 2px;
}
.hy-form-text-button > button {
  min-width: 40px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px;
  border-radius: 0px 2px 2px 0px;
}

.hy-form-textarea-button {
  min-width: 560px;
  margin-bottom: 32px;
}
.hy-form-textarea-button > textarea {
  width: 100%;
  min-height: 120px;
  margin-right: -4px;
  border-radius: 2px 0px 0px 2px;
}
.hy-form-textarea-button > button {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -32px;
  border-radius: 0px 2px 2px 0px;
}

.hy-hoverable-image {
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  display: inline-block;
}
.hy-hoverable-image.new::after {
  content: "NEW";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #ff4559;
  color: white;
  padding-right: 8px;
  padding-left: 8px;
  height: 24px;
  line-height: 24px;
}
.hy-hoverable-image:hover {
  z-index: 1;
  transform: scale(1.05);
}
.hy-hoverable-image > span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.hy-hoverable-image > span span.wrapper {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.hy-hoverable-image > span span.wrapper > img {
  position: absolute;
  width: auto;
  height: 100%;
  left: -100%;
  right: -100%;
  margin: auto;
}
.hy-hoverable-image > div {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: transparent;
}
.hy-hoverable-image > div > .main {
  display: block;
  position: absolute;
  bottom: 56px;
  left: 8px;
}
.hy-hoverable-image > div > .sub {
  display: block;
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.hy-hoverable-image:hover > div {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.hy-card {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  position: relative;
  width: 216px;
  background-color: white;
  text-decoration: none;
}
.hy-card.new::after {
  content: "NEW";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #ff4559;
  color: white;
  padding-right: 8px;
  padding-left: 8px;
  height: 24px;
  line-height: 24px;
}
.hy-card:hover {
  z-index: 1;
  transform: scale(1.05);
}
.hy-card > span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 256px;
}
.hy-card > span span.wrapper {
  display: block;
  position: relative;
  width: 216px;
  height: 256px;
  margin: 0px;
  overflow: hidden;
}
.hy-card > span span.wrapper:hover {
  transform: scale(1);
}
.hy-card > span span.wrapper > img {
  position: absolute;
  left: -100%;
  right: -100%;
  margin: auto;
  width: auto;
  height: 256px;
}
.hy-card > .message {
  color: #929292;
  padding: 8px;
  margin-top: -5px;
  color: #929292;
  background-color: #f2f2f2;
  border-top: 1px solid #929292;
  border-bottom: 1px solid #929292;
}
.hy-card > .message > .titles {
  display: inline-block;
  width: calc(100% - 40px);
  overflow: hidden;
}
.hy-card > .message > .titles > .title {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
}
.hy-card > .message > .titles > .sub-title {
  font-size: 12px;
}
.hy-card > .message > .status {
  display: inline-block;
  width: 40px;
  float: right;
  text-align: center;
}
.hy-card > .message > .status > .star.on {
  color: #ff4559;
}
.hy-card > .message > .status > .number {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  font-size: 12px;
}

.status > .star.on {
  color: #ff4559;
}

.hy-img-card-layout {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
}
.hy-img-card-layout > * {
  text-align: left;
  margin-right: 16px;
  margin-bottom: 16px;
}

.hy-icon-large {
  display: inline-block;
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  overflow: hidden;
  vertical-align: middle;
}
.hy-icon-large > img {
  position: absolute;
  height: 120px;
  margin: auto;
  left: -100%;
  right: -100%;
}
.hy-icon-large + span {
  display: inline-block;
  height: 120px;
  line-height: 120px;
  font-size: 24px;
  margin-left: 8px;
}

.hy-icon-medium {
  display: inline-block;
  position: relative;
  height: 88px;
  width: 88px;
  border-radius: 44px;
  overflow: hidden;
  vertical-align: middle;
}
.hy-icon-medium > img {
  position: absolute;
  height: 88px;
  margin: auto;
  left: -100%;
  right: -100%;
}
.hy-icon-medium + span {
  display: inline-block;
  height: 88px;
  line-height: 88px;
  font-size: 24px;
  margin-left: 8px;
}

.hy-icon-small {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  overflow: hidden;
  vertical-align: middle;
}
.hy-icon-small > img {
  position: absolute;
  height: 40px;
  margin: auto;
  left: -100%;
  right: -100%;
}
.hy-icon-small + span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  margin-left: 8px;
}

.hy-pagenate {
  display: block;
  position: relative;
  text-align: center;
}
.hy-pagenate > a {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: white;
  border: 1px solid #929292;
  border-radius: 2px;
  color: #929292;
  background-color: transparent;
  border: 0px;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
.hy-pagenate > a:hover {
  background-color: #929292;
  border-color: #929292;
  color: white;
}
.hy-pagenate > a.disable:hover {
  color: #929292;
  background-color: transparent;
}
.hy-pagenate > a.prev:before {
  content: "<";
  margin-right: 8px;
}
.hy-pagenate > a.next:after {
  content: ">";
  margin-left: 8px;
}
.hy-pagenate > .jump.now {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #929292;
  border: 1px solid #929292;
  border-radius: 2px;
  color: white;
  border-color: transparent;
}
.hy-pagenate > .jump.now:hover, .hy-pagenate > .jump.now.inactive {
  background-color: white;
  border-color: #929292;
  color: #929292;
}
.hy-pagenate > .jump.now.inactive:hover {
  background-color: #929292;
  border: 1px solid #929292;
  color: white;
}
.hy-pagenate > .jump.now:hover {
  background-color: transparent;
  border-color: transparent;
}

.hy-separator {
  border: none;
  background-color: #929292;
  height: 1px;
}

.hy-header {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
}
.hy-header:before {
  position: relative;
  content: "-";
}
.hy-header:after {
  position: relative;
  content: "-";
}
.hy-header > span {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  font-size: 16px;
  bottom: -16px;
  color: #929292;
}

.hy-text-label {
  display: block;
  position: relative;
  margin-top: 16px;
  padding-bottom: 8px;
}
.hy-text-label > label {
  position: absolute;
  top: -16px;
  font-size: 12px;
  font-family: "Noto Sans CJK JP Bold", sans-serif;
}

.hy-box {
  display: inline-block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.hy-box + .hy-box, .hy-box > .hy-box:first-child {
  padding-top: 0px;
  margin-top: 0px;
}
.hy-box > .hy-box:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.hy-slider .slick-slide {
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0px 8px;
}
.hy-slider .slick-slide:hover {
  z-index: 1;
  transform: scale(1.05);
}
.hy-slider .slick-slide img {
  width: 100%;
}
.hy-slider > button {
  height: 100%;
  width: 88px;
  z-index: 1;
}
.hy-slider > button.slick-prev {
  left: 0;
}
.hy-slider > button.slick-prev:before {
  content: "<";
}
.hy-slider > button.slick-next {
  right: 0;
}
.hy-slider > button.slick-next:before {
  content: "";
}
.hy-slider > button.slick-next:after {
  content: ">";
}
.hy-slider > button:before, .hy-slider > button:after {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #f2f2f2;
  font-size: 72px;
  font-family: "Noto Sans CJK JP", sans-serif;
}
.hy-slider > button:hover:before, .hy-slider > button:hover:after {
  color: #929292;
  font-size: 88px;
}

.hy-tab-menu {
  text-align: center;
}

.hy-flush {
  box-shadow: 9px 9px 10px -5px #f2f2f2;
  font-family: "Noto Sans CJK JP", sans-serif;
  border-width: 1px;
  border-style: solid;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 24px;
  border-color: #929292;
  background-color: rgba(200, 200, 200, 0.1);
  color: #929292;
}
.hy-flush.alert {
  color: #ff4559;
  border-color: #ff4559;
  background-color: rgba(200, 0, 0, 0.1);
}
.hy-flush.message {
  color: #00b3de;
  border-color: #00b3de;
  background-color: rgba(0, 200, 200, 0.1);
}

button.hy-read-more,
a.hy-read-more {
  text-decoration: none;
  color: #929292;
  float: right;
  margin-right: 16px;
}
button.hy-read-more::after,
a.hy-read-more::after {
  content: ">";
  position: relative;
  left: 8px;
  text-decoration: none;
  display: inline-block;
}
button.hy-read-more.hy-form-button, .hy-form-text-button > button.hy-read-more, .hy-form-textarea-button > button.hy-read-more,
a.hy-read-more.hy-form-button {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: white;
  border: 1px solid #929292;
  border-radius: 2px;
  color: #929292;
  position: relative;
  padding-left: 16px;
  padding-right: 24px;
  float: inherit;
}
button.hy-read-more.hy-form-button:hover, .hy-form-text-button > button.hy-read-more:hover, .hy-form-textarea-button > button.hy-read-more:hover,
a.hy-read-more.hy-form-button:hover {
  background-color: #929292;
  border-color: #929292;
  color: white;
}
button.hy-read-more.hy-form-button:after, .hy-form-text-button > button.hy-read-more:after, .hy-form-textarea-button > button.hy-read-more:after,
a.hy-read-more.hy-form-button:after {
  z-index: 1;
}

.hy-comment {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
  position: relative;
  margin-bottom: 32px;
  min-height: 136px;
  color: #252525;
}
.hy-comment:hover {
  z-index: 1;
  transform: scale(1.05);
}
.hy-comment:first-child {
  margin-top: 16px;
}
.hy-comment > img {
  position: absolute;
}
.hy-comment > div {
  display: inline-block;
  position: relative;
  width: calc( 100% - 136px );
  margin-left: 136px;
}
.hy-comment > div > .header > .name {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
}
.hy-comment > div > .header > * {
  margin-right: 16px;
}
.hy-comment > hr {
  position: absolute;
  margin-top: 16px;
  width: 100%;
  bottom: 0;
  margin: 0;
}
.hy-comment:last-child > hr {
  display: none;
}

.hy-news {
  text-decoration: none;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Noto Sans CJK JP", sans-serif;
  color: #252525;
  padding-top: 16px;
}
.hy-news > span {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
}
.hy-news > span.date {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  width: 88px;
  margin-right: 16px;
}
.hy-news > span.title {
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  width: 192px;
  margin-right: 16px;
}
.hy-news > span.description {
  margin-bottom: -5px;
  width: calc( 100% - 320px );
}
.hy-news > hr {
  width: 40px;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.hy-news:last-child {
  padding-bottom: 16px;
}
.hy-news:last-child > hr {
  display: none;
}
.hy-news:hover {
  background-color: #f2f2f2;
}

.hy-main-image {
  position: relative;
  margin: auto;
  height: 100%;
  width: auto;
  left: 0;
  right: 0;
}

.hy-sub-image {
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  width: 104px;
  height: 104px;
  display: inline-block;
  overflow: hidden;
  margin-right: 8px;
  margin-bottom: 8px;
}
.hy-sub-image:hover {
  z-index: 1;
  transform: scale(1.05);
}
.hy-sub-image > img {
  position: absolute;
  margin: auto;
  height: 100%;
  left: -100%;
  right: -100%;
}

.hy-small-slider {
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  width: 120px;
  height: 104px;
  display: inline-block;
  overflow: hidden;
  margin-right: 8px;
  margin-bottom: 8px;
}
.hy-small-slider:hover {
  z-index: 1;
  transform: scale(1.05);
}
.hy-small-slider .hy-imagewrapper {
  height: 104px;
  width: 120px;
}

.hy-medium-slider {
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  width: 216px;
  height: 192px;
  display: inline-block;
  overflow: hidden;
  margin-right: 8px;
  margin-bottom: 8px;
}
.hy-medium-slider:hover {
  z-index: 1;
  transform: scale(1.05);
}
.hy-medium-slider .hy-imagewrapper {
  width: 216px;
  height: 192px;
}

.hy-releted-slider {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 300px;
  overflow: hidden;
}
.hy-releted-slider > img {
  position: absolute;
  height: 200px;
  width: 400px;
  margin: auto;
  left: -100%;
  right: -100%;
}

.hy-imagewrapper {
  position: absolute;
  overflow: hidden;
}
.hy-imagewrapper > img {
  position: absolute;
  margin: auto;
  height: 100%;
  width: auto !important;
  left: -100%;
  right: -100%;
}

.hy-tag {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  text-decoration: none;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 16px;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.hy-tag.close:after {
  display: inline-block;
  content: "x";
  background-color: white;
  color: #929292;
  border-radius: 10px;
  margin-left: 4px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.hy-tag.close:hover {
  z-index: 1;
  transform: scale(1.05);
}

.hy-shadow {
  box-shadow: 9px 9px 10px -5px #f2f2f2;
}

.hy-form-files {
  position: relative;
  margin-top: 24px;
}
.hy-form-files > label {
  position: absolute;
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  top: -24px;
  font-size: 12px;
}
.hy-form-files > .hy-form-file {
  display: inline-block;
  position: relative;
  width: 192px;
  height: 192px;
  border: 5px dotted #929292;
  margin-right: 16px;
  margin-bottom: 16px;
}
.hy-form-files > .hy-form-file > span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.hy-form-files > .hy-form-file > span > img {
  position: absolute;
  height: 100% !important;
  width: auto !important;
  left: -100% !important;
  right: -100% !important;
  margin: auto !important;
  z-index: 2 !important;
}
.hy-form-files > .hy-form-file:before {
  content: "Drop your file";
  z-index: 1;
  position: absolute;
  display: block;
  color: #929292;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  text-align: center;
}
.hy-form-files > .hy-form-file > .close {
  display: none;
  position: absolute;
  font-family: "Noto Sans CJK JP Bold", sans-serif;
  right: 0px;
  top: 0px;
  text-align: center;
  height: 24px;
  width: 24px;
  z-index: 10;
  color: #929292;
}

.hy-center {
  display: block;
  text-align: center;
  text-decoration: none;
}
.hy-center > * {
  display: inline-block;
  text-align: initial;
}

.hy-full {
  display: inline-block;
  width: 100%;
}

.hy-half {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 16px);
  margin-bottom: 16px;
}
.hy-half:first-child {
  padding-right: 16px;
  float: left;
}
.hy-half:last-child {
  padding-left: 16px;
  float: right;
}

.hy-third {
  display: inline-block;
  width: 33.3%;
  margin-bottom: 16px;
}
.hy-third:nth-child(1) {
  padding-right: 10.66667px;
  float: left;
}
.hy-third:nth-child(2) {
  padding-right: 5.33333px;
  padding-left: 5.33333px;
}
.hy-third:nth-child(3) {
  padding-left: 10.66667px;
  float: right;
}
.hy-third + .hy-other {
  display: inline-block;
  width: 66.6%;
  margin-bottom: 16px;
  padding-left: 10.66667px;
  float: right;
}

.hy-hoverable {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.hy-hoverable:hover {
  z-index: 1;
  transform: scale(1.05);
}

/*# sourceMappingURL=hy_template.css.map */
