@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url(../font/NotoSansCJKjp-Thin.otf);
}

$header:  "Noto Sans CJK JP", sans-serif;

$black: rgba(0,0,0,1);
$lightGrey: rgba(160,160,160,1);
$white: rgba(255,255,255,1);
$highLigtht: rgba(222,21,0,1);

$length-0: 0;
$length-1: 8px;
$length-2: 16px;
$length-3: 24px;
$length-5: 40px;
$length-7: 56px;
$length-9: 72px;
$length-11: 88px;
$length-24: 196px;
$length-32: 256px;
$length-128: 1024px;

.hy-top-menu {
	position: relative;
	background-color:  $black;
	top: 0;
	left: 0;
	right: 0;
	height: $length-9;
	min-width: $length-128;
	padding: {
		left:$length-2;
		right:$length-2;
	}

	color: $white;
	font-family: $header;

	.logo {
		display: inline-block;
		position: absolute;
		left: 0;
		padding: $length-1;
		height: $length-7;
		min-width: $length-24;

		img {
			position:relative;
			display:inline-block;
			height: $length-7;
		}

		span {
			position:absolute;
			line-height: $length-7;
			font-size: $length-3;
			color: $white;
		}
	}

	.center-menu {
		position:absolute;
		margin: auto;
		left: 0;
		right: 0;
		height: $length-7;
		padding: $length-1;
		text-align: center;
		a {
			display: inline-table;
			position:relative;
			height: $length-7;
			line-height: $length-7;
			width: $length-11;
			color: $white;
			text-decoration: none;

			&:hover {
				border:{
					bottom: $length-1 solid $highLigtht
				}
			}

			&:after {
				position: absolute;
				content: attr(data-sub);
				left: 0;
				top: $length-2;
				right: 0;
				text-align: center;
				font-size: $length-1;
				color: $lightGrey;
			}
		}
	}

	.right-menu {
		position:absolute;
		margin: auto;
		right:0;
		padding: $length-1;
		height: $length-7;
		min-width: $length-24;
		a {
			display: inline-table;
			height: $length-7;
			position: relative;
			img {
				position:absolute;
				display:inline-block;
				height: $length-7;
				& + span {
					margin-left: $length-7;
				}
			}
			span {
				position:relative;
				line-height: $length-7;
				color: $white;
			}
		}
	}
}



.hy-main {
	display: block;
	position: relative;
	font-family: $header;
	min-width: $length-128;

	background: {
		color: $white;
	}
	padding: {
		top:$length-2;
		bottom:$length-2;
		left:$length-2;
		right:$length-2;
	}

	& > * {
		position: relative;
		display: block;
		min-width: $length-128;
		width: $length-128;
		margin: auto;
		left: 0;
		right: 0;
	}
}


.hy-footer {
	position: relative;
	font-family: $header;

	background: {
		color: $black;
	}
	padding: {
		top:$length-5;
		bottom:$length-5;
		left:$length-2;
		right:$length-2;
	}

	min-width: $length-128;

	& > ul {
		display: inline-table;
		position: relative;
		width:$length-11;

		& a {
			color: $white;
			text-decoration: none;
			font-size: $length-2;
		}
	}

	& > div.link {
		position: absolute;
		right: $length-2;
		bottom: $length-2;

		& a {
			display: inline-table;
			color: $white;
			text-decoration: none;
			height: $length-5;
		}

		& img {
			height: $length-5;
		}
	}
}



