@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url(./fonts/NotoSansCJKjp-Thin.otf);
}
@font-face {
	font-family: 'Noto Sans CJK JP Bold';
	src: url(./fonts/NotoSansCJKjp-Bold.otf);
}

$font: "Noto Sans CJK JP", sans-serif;
$headerFont: "Noto Sans CJK JP Bold", sans-serif;

$black: rgba(37,37,37,1);
$darkGrey: rgba(146,146,146,1);
$lightGrey: rgba(242,242,242,1);
$white: rgba(255,255,255,1);

$highLight: rgba(255,69,89,1);
$oppositeLight: rgba(0,179,222,1);

$clear: rgba(0,0,0,0);

$formRadius: 2px;
$cover: rgba(0,0,0,0.5);

$length-0: 0;
$length-1: 8px;
$length-1-5: 12px;
$length-2: 16px;
$length-3: 24px;
$length-4: 32px;
$length-5: 40px;
$length-7: 56px;
$length-9: 72px;
$length-11: 88px;
$length-13: 104px;
$length-15: 120px;
$length-24: 192px;
$length-27: 216px;
$length-32: 256px;
$length-40: 320px;
$length-50: 400px;
$length-128: 1024px;

* {
	font-family: $font;
	-webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

img{
	max-width: none;
}

.black-text{
	color:$black;
}
.darkgrey-text{
	color:$darkGrey;
}
.lightgrey-text{
	color:$lightGrey;
}
.highlight-text{
	color:$highLight;
}
.oppositelight-text{
	color:$oppositeLight;
}
.white-text{
	color:$white;
}
.black{
	background-color: $black;
}
.darkgrey{
	background-color: $darkGrey;
}
.lightgrey{
	background-color: $lightGrey;
}
.highlight{
	background-color: $highLight;
}
.oppositelight{
	background-color: $oppositeLight;
}
.white{
	background-color: $white;
}
.black-border{
	border: 1px solid $black;
}
.darkgrey-border{
	border: 1px solid $darkGrey;
}
.lightgrey-border{
	border: 1px solid $lightGrey;
}
.highlight-border{
	border: 1px solid $highLight;
}
.oppositelight-border{
	border: 1px solid $oppositeLight;
}
.white-border{
	border: 1px solid $white;
}

@for $i from 1 through 6 {
	h#{$i} {
		font: {
			family: $font;
			//weight: bold;
			size: #{(40 - $i * 3)}px;  
		}
		margin: {
			top: #{( 10 - $i ) * 2}px;
			bottom: $length-1; 
		}
	}
}

p {
	font: {
		size: $length-2;  
	}
	margin: {
		top: $length-1;
		bottom: $length-1; 
	}
}

@mixin transition {
	-webkit-transition: all .3s;
	transition: all .3s;
}

@mixin boxshadow {
	box-shadow: 9px 9px 10px -5px $lightGrey;
}

@mixin newable{
	&.new::after {
    	content: "NEW";
	    position: absolute;
	    top: 0;
	    right: 0;
	    display: block;
	    background: $highLight;
	    color: $white;
	    padding:{
	    	right: $length-1;
	    	left: $length-1;
	    }
	    height:  $length-3;
	    line-height:  $length-3;
    }
}

@mixin hy-form-button($main:$black, $sub:$white){
	@include transition;
	background-color: $main;
	border: 1px solid $main;
	border-radius: $formRadius;
	color: $sub;
	&:hover,
	&.inactive{
		background-color: $sub;
		border-color: $main;
		color: $main;
	}
	&.inactive:hover{
		background-color: $main;
		border: 1px solid $main;
		color: $sub;
	}
}

@mixin hy-form-button-inverse($main:$black, $sub:$white){
	@include transition;
	background-color: $sub;
	border: 1px solid $main;
	border-radius: $formRadius;
	color: $main;

	&:hover{
		background-color: $main;
		border-color: $main;
		color: $sub;
	}
}

.hy-top-menu {
	position: relative;
	background-color:  $black;
	top: 0;
	left: 0;
	right: 0;
	height: $length-9;
	min-width: $length-128;
	padding: {
		left:$length-2;
		right:$length-2;
	}

	color: $white;

	& > .logo {
		display: inline-block;
		position: absolute;
		left: 0;
		padding: $length-1;
		height: $length-7;
		min-width: $length-24;

		& > img {
			position:relative;
			display:inline-block;
			height: $length-7;
		}

		& > span {
			position:absolute;
			line-height: $length-7;
			font-size: $length-3;
			color: $white;
		}
	}

	& > .center-menu {
		position:absolute;
		margin: auto;
		left: 0;
		right: 0;
		height: $length-7;
		padding: $length-1;
		text-align: center;
		& > a {
			@include transition;

			display: inline-table;
			position:relative;
			height: $length-7;
			line-height: $length-7;
			width: $length-11;
			color: $white;
			text-decoration: none;

			&:hover {
				border:{
					bottom: $length-1 solid $highLight
				}
			}

			&:after {
				position: absolute;
				content: attr(data-sub);
				left: 0;
				top: $length-2;
				right: 0;
				text-align: center;
				font-size: $length-1;
				color: $lightGrey;
			}
		}
	}

	& > .right-menu {
		position:absolute;
		margin: auto;
		right:0;
		padding: $length-1;
		height: $length-7;
		min-width: $length-24;

		& > a {
			@include transition;

			display: inline-table;
			height: $length-7;
			position: relative;
			text-decoration: none;
			text-align: center;

			padding: {
				left: $length-1;
				right: $length-1;
			}

			&:hover {
				border:{
					bottom: $length-1 solid $highLight
				}
			}

			& > img {
				position:absolute;
				display:inline-block;
				height: $length-7;
				& + span {
					margin-left: $length-7;
				}
			}

			& > span {
				position:relative;
				line-height: $length-7;
				color: $white;
				min-width: $length-9;

				&:after{
					content: attr(data-sub);
					color: $lightGrey;
					position: absolute;
					text-align: center;
					left: 0px;
					right: 0px;
					top: 0px;
					font-size: $length-1;
				}
			}
		}

		& > ul {
			display: inline-block;
			position: absolute;
			background-color: $black;
			list-style-type:none;

			top: $length-9;
			right: 0px;
			width: $length-32;
			padding: 0px;
			z-index: 1;

			& > li {
				padding: {
					top: $length-1;
					bottom: $length-1;
					left: $length-2;
					right: $length-2;
				}

				&:hover{
					background-color: $darkGrey;
				}

				& > a{
					text-decoration: none;
					color: $white;
				}
			}
		}
	}
}



.hy-main {
	display: block;
	position: relative;
	min-width: $length-128;

	background: {
		color: $white;
	}
	padding: {
		top:$length-2;
		bottom:$length-2;
		left:$length-2;
		right:$length-2;
	}

	& > * {
		position: relative;
		display: block;
		min-width: $length-128;
		width: $length-128;
		margin: auto;
		left: 0;
		right: 0;
	}
}


.hy-footer {
	position: relative;

	background: {
		color: $black;
	}
	padding: {
		top:$length-5;
		bottom:$length-5;
		left:$length-2;
		right:$length-2;
	}

	min-width: $length-128;


	& > div {
		position: relative;
		display: block;
		min-width: $length-128;
		width: $length-128;
		margin: auto;
		left: 0;
		right: 0;
		color: $white;

		& > ul {
			display: inline-table;
			position: relative;
			width:$length-24;
			list-style-type:none;
			padding : {
				left: 0;
			}

			& a {
				color: $white;
				text-decoration: none;
				font-size: $length-2;
				padding: {
					left: $length-1;
					right: $length-1;
				}
				
				&:hover{
					background-color: $darkGrey;
				}
			}
		}

		& > div.link {
			position: absolute;
			right: 0;
			bottom: 0;
			& a {
				display: inline-table;
				color: $white;
				text-decoration: none;
				margin: {
					right: $length-1;
					left: $length-1;
				}
				& > i {
					font-size: $length-4;
				}
			}
		}

	}
}


.hy-form-text{

    position: relative;
    display: inline-block;

	& > input[type="text"],
	& > input[type="email"],
	& > input[type="password"],
	& > input[type="number"],
	& > input[type="date"],
	& > textarea{
	    min-width: $length-50;
	    min-height: $length-5;
	    border: 1px $darkGrey;
	    font-size: $length-2;
	    border-radius:$formRadius;

	    padding: {
	    	left: $length-1;
	    	right: $length-1;
	    }
	    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
		box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);

		outline:none;

		&:focus {
		    border:solid 1px $oppositeLight;
		}
	}

	& > input[type="date"] {
		min-width: $length-11;	
	}
}

.hy-form-text-label{
	@extend .hy-form-text;

	margin: {
		top: $length-3;
	}

	& > label{
	    display: block;
	    position: absolute;
	    font-family: $headerFont;
	    top: -1 * $length-3;
	    //font-weight: bolder;
	    font-size: $length-2 - 4;
	}
}

textarea.hy-validate,
input.hy-validate{
	&.success,
	&.fail{
		margin-bottom: $length-2;
	}
	&.fail{
		border: 1px solid $highLight;
	}
	& + .hy-validate-message{
		content: attr(data-validation-message);
		display: none;
		position: absolute;
		bottom: 0px;
		font-size: $length-1-5;
		left: $length-1;
	}
	&.success + .hy-validate-message {
		color: $oppositeLight;
		display: inline-block;
	}
	&.fail + .hy-validate-message {
		color: $highLight;
		display: inline-block;
	}
}

.hy-form-button {
	@include hy-form-button($darkGrey, $white);
	&.main {
		@include hy-form-button($highLight, $white);
	}
	&.sub {
		@include hy-form-button($oppositeLight, $white);
	}

	display: inline-block;
	min-width: $length-24;
	min-height: $length-5;
	text-align: center;
	text-decoration: none;
	outline: none;
	line-height: $length-5;
	font-size: $length-2;

	&::before,
	&::after {
		position: absolute;
		z-index: -1;
		display: block;
		content: '';
	}
	&,
	&::before,
	&::after{
		@include transition;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

button.hy-form-button{
	padding:0;
}

.hy-form-text-button{
	@extend .hy-form-text;

	& > input[type="text"] {
	    margin-right: -4px;
	    border-radius: $formRadius 0px 0px $formRadius;	
	}

	& > button {
		@extend .hy-form-button;
		min-width: 0px;
		padding: {
			left: $length-1;
			right: $length-1;
		}
		margin: 0px;
		border-radius: 0px $formRadius $formRadius 0px;
	}
}

.hy-hoverable-image{
	@include transition;
	@include newable;

	position: relative;
    display: inline-block;

	& > img{

	}

	& > div{
		@include transition;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: $clear;
		color: $clear;

		& > .main{
		    display: block;
		    position: absolute;
		    bottom: $length-7;
		    left: $length-1;
		}
		& > .sub{
		    display: block;
		    position: absolute;
		    bottom: $length-1;
		    left: $length-1;
		}
	}

	&:hover {
		transform: scale(1.05);
		z-index: 1;
		& > div{
			background-color: $cover;
			color: $white;
		}
	}
}

.hy-card{
	@include newable;
	@include transition;

    display: inline-block;
    position: relative;
    width: $length-24;
    background-color: white;
    text-decoration: none;

	& > span {

	    position: relative;
	    display: inline-block;
	    width: 100%;
	    height: $length-32;
	    overflow: hidden;

		& > img {
		    position: absolute;
		    left: -100%;
		    right: -100%;
		    margin: auto;
		    width: auto;
		    height: $length-32;
		}
	}

	&:hover {
		transform: scale(1.05);
	}

	& > .message{
		color: $darkGrey;
		padding: $length-1;
		margin-top: -5px;
		color: $darkGrey;
		background-color: $lightGrey;

		border: {
			top: 1px solid $darkGrey;
			bottom: 1px solid $darkGrey;
		}

		& > .titles {
			display: inline-block;
			width: calc(100% - #{$length-5});
			overflow: hidden;
			& > .title{
				font-family: $headerFont;
			}
			& > .sub-title{
				font-size: $length-1-5;
			}
		}
		& > .status {
			display: inline-block;
			width: $length-5;
			float: right;
			text-align: center;
			& > .star{

			}
			& > .star.on{
				color: $highLight;
			}
			& > .number{
				font-family: $headerFont;
				font-size: $length-1-5;
			}
		}
	}
}

.hy-img-card-layout{
	position: relative;
	margin: auto;
	width: 100%;
	text-align: center;
	 & > * {
	 	text-align: left;
	 	margin: {
	 		right: $length-2;
	 		bottom: $length-2;
	 	}
	 }
}

.hy-icon-large {
	display: inline-block;
	position: relative;
	height: $length-15;
	width: $length-15;
	border-radius: $length-15 / 2;
	overflow: hidden;

	& > img{
		position: absolute;
		height: $length-15;
		margin: auto;
		left: -100%;
		right: -100%;
	}
}

.hy-icon-medium {
	display: inline-block;
	position: relative;
	height: $length-5;
	width: $length-5;
	border-radius: $length-5 / 2 ;
	overflow: hidden;

	& > img{
		position: absolute;
		height: $length-5;
		margin: auto;
		left: -100%;
		right: -100%;
	}
}

.hy-pagenate{
	display: block;
	position: relative;
	text-align: center;

	& > a {
		@include hy-form-button-inverse($darkGrey, $white);
		background-color:rgba(0,0,0,0);
		border: 0px;
		text-decoration:none;
		padding:{
			top: $length-1/2;
			bottom: $length-1/2;
			left: $length-1;
			right: $length-1;
		}
		margin: {
			left: $length-1;
			right: $length-1;
		}

		&.prev:before{
			content:"<";
			margin-right: $length-1;
		}

		&.next:after{
			content:">";
			margin-left: $length-1;
		}
	}

	& > .jump:nth-child(4){
		@include hy-form-button($darkGrey, $white);
		border-color: rgba(0,0,0,0);
	}
	& > .jump:nth-child(4):hover{
		background-color: rgba(0,0,0,0);
		border-color: rgba(0,0,0,0);
	}
}

.hy-separator{
    border: none;
    background-color: $darkGrey;
    height: 1px;
}

.hy-header{
	position: relative;
	text-align: center;
	margin-bottom: $length-3;

	&:before{
		position: relative;
		content: "-";
	}
	&:after{
		position: relative;
		content: "-" attr(data-sub);
	}

	& > span {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		font-size: $length-2;
		bottom: -1 * $length-2;
		color: $darkGrey;
	}
}

.hy-text-label{
    display: inline-block;
    margin-top: $length-2;

    & > label{
	    position: absolute;
	    top: $length-1;
	    font-size: $length-2 - 4px;
	    font-family: $headerFont;
    }
}

.hy-box {
	//@include boxshadow;
	display:inline-block;
	padding: $length-2;
	margin: $length-2;
}

.hy-slider {
	& .slick-slide {
		@include transition;
		margin: 0px 8px;

		&:hover{
			transform: scale(1.05);
		}
	}

	& .slick-slide img {
		width: 100%;
	}

	& > button {
		height: 100%;
	    width: $length-11;
	    z-index: 1;

    	&.slick-prev {
			left: 0;
			&:before {
				content: "<";
			}
		}

		&.slick-next {
			right: 0;
			&:before{
				content: "";
			}
			&:after {
				content: ">";
			}
		}

		&:before,
		&:after{
			@include transition;
		    color: $lightGrey;
		    font-size: $length-9;
		    font-family: $font;
		}
		&:hover:before,
		&:hover:after{
			color: $darkGrey;
			font-size: $length-11;
		}
	}
}


.hy-tab-menu {
	text-align: center;
}


.hy-flush {
	font-family: $font;
	border:{
		width: 1px;
		style: solid;
	}
	margin:{
		top: $length-1;
		bottom: $length-1;
	}
	padding:{
		top: $length-1;
		bottom: $length-1;
		left: $length-5;
		right: $length-3;
	}

	border-color: $darkGrey;
	background-color: rgba(200, 200, 200, 0.1);
	color: $darkGrey;
	&.alert{
		color: $highLight;
		border-color: $highLight;
		background-color: rgba(200, 0, 0, 0.1);
	}
	&.message{	
		color: $oppositeLight;
		border-color: $oppositeLight;
		background-color: rgba(0, 200, 200, 0.1);
	}
}

.hy-read-more {
	text-decoration:none;
	color: $darkGrey;

	&::after{
		content: ">";
		position: relative;
	    left: $length-1;
		text-decoration:none;
		display: inline-block;
	}

	&.hy-form-button{
		@include hy-form-button-inverse($darkGrey, $white);
		position:relative;
		&:after{
			z-index: 1;
		}
	}
}

.hy-comment{
	position: relative;
	margin-bottom: 32px;
	min-height: $length-15 + $length-2;

	&:first-child{
		margin-top: 16px;
	}

	& > img {
		position:absolute;
	}

	& > div {
	    display: inline-block;
	    position: relative;
	    width: calc( 100% - 136px );
	    margin-left: $length-15 + $length-2;

	    & > .header{
	    	& > .name{
	    		font-family: $headerFont;
	    		//font-weight: bolder;
	    	}
	    	& > * {
	    		margin-right: 16px;
	    	}
	    }

	    & > .date{

	    }
	}

	& > hr {
		position: absolute;
		margin-top: 16px;
		width: 100%;
		bottom: 0;
		margin: 0;
	}

	&:last-child > hr {
		display:none;
	}
}

.hy-news {
	text-decoration:none;
    display: block;
    margin-top: $length-1;
    margin-bottom: $length-1;
    font-family: $font;
   	color: $black;
    padding-top: $length-2;

  	& > span {
  		display: inline-block;
  		line-height: $length-3;
  		height: $length-3;
  		overflow: hidden;
  	}

  	& > span.date{
  		font-family: $headerFont;
  		width: $length-11;
  		margin-right: $length-2;
  	}
  	& > span.title{
  		font-family: $headerFont;
  		width: $length-24;
  		margin-right: $length-2;
  	}
  	& > span.description{
  		margin-bottom: -5px; //only safari ??
  		width: calc( 100% - #{$length-40} )
  	}

    & > hr{
    	width: $length-5;
    	margin: {
    		top: $length-2;
    		bottom: 0;
    		left: 0;
    		right: 0;
    	}
    }

    &:last-child {
    	padding-bottom: $length-2;
    	& > hr{
    		display: none;
    	}
    }

    &:hover {
    	background-color: $lightGrey;
    }

}

.hy-main-image {
	position: relative;
	margin: auto;
	height:100%;
	width: auto;
	left: 0;
	right: 0;
}

.hy-sub-image {
	//@include boxshadow;
	@include transition;
	position:relative;
	width: $length-13;
	height: $length-13;
	display: inline-block;
	overflow: hidden;

	margin:{
		right: $length-1;
		top: $length-1;
	}

	& > img {
		position: absolute;
		margin: auto;
		height: 100%;
		left: -100%;
		right: -100%;
	}

	&:hover {
		transform: scale(1.05);
	}
}

.hy-tag{
	@include transition;

	display: inline-block;
    margin:{
    	right: $length-1;
    	left: $length-1;
    }
    border-radius: $length-2;
    line-height: $length-2;
    padding: {
    	left: $length-2;
    	right: $length-2;
    	top: $length-1;
    	bottom: $length-1;
    }

	&:after{
		display: inline-block;
		content: "×";
		background-color: white;
		color: $darkGrey;
		border-radius: #{($length-3 - 4px)/2};
		margin-left: $length-1/2;
		font-size: $length-3/2;
		width: #{$length-3 - 4px};
		height: #{$length-3 - 4px};
		line-height: #{$length-3 - 4px};
		text-align: center;
	}

	&:hover{
		transform: scale(1.05);
	}
}

.hy-shadow {
	@include boxshadow;
}


.hy-form-file{
	display: inline-block;
	position: relative;
	width: $length-40;
	height: $length-24;
	border: 5px dotted $darkGrey;

	& > img {
		z-index: 3;
		position: absolute;
		weight: 100%;
		height: 100%;
	}

	& > img {
		z-index: 5;
		position: absolute;
		background-color: $darkGrey;
		weight: 100%;
		height: 100%;
	}

	&:before {
		content: "ファイルをドロップしてください";
		z-index: 1;
		position: absolute;
		display: block;
		color: $darkGrey;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		height: $length-3;
		text-align: center;
	}

	& > .close {
		display: none;
		position: absolute;
		font-family: $headerFont;
		right: 0px;
		top: 0px;
		text-align: center;
		height: $length-3;
		width: $length-3;
		z-index: 10;
		color: $darkGrey;
	}
}
